h1 {
	text-align: center;
	margin-top: 1em;
}

h2 {
	text-align: center;
	margin-top: 1em;
}

h3 {
	margin-top: 1em;
}

h4 {
	margin-top: 1em;
}

p {
	margin-top: 1em;
	text-indent: 0em;
}

blockquote {
	margin-top: 1em;
}
